.eventContainer {
    background-color: cadetblue;
    height: 35px; 
    /*position: absolute;*/
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 0px;
}

.eventTitle {
    color: cadetblue;
    display: block;
}
.eventAddress {
    font-size: 10px;
    display: block;
}

.calendarContainer {
    position:absolute;
    width: 100%;
}

.calendarRow {
    height: 35px;
    position: relative;
}

.backgroundContainer {
    position: absolute;
    z-index: -5;
    background-color: lightgray;
    width: 100%;
}

.eventsContainer {
    position: absolute;
}

.timeCell {
    background-color: white;
    height: 100%;
    text-align: right;
    font-size: 12px;
}

.even-time-cell {
    font-size: 10px;
    color: gray;
}

.eventContent {
    height: 100%;
    background-color: white;
    padding-left: 10px;
}